---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/family-working-out.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/atletas-despues-de-murph.jpg";
import frontsquat from "@images/atleta-haciendo-front-squat.webp";
import functional from "@images/atletas-haciendo-box-jumps.jpg";
import pegboard from "@images/atleta-subiendo-el-pegboard.webp";
import QuestionsSection from "@/components/sections/landing/QuestionsSection.astro";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

import { SITE } from "@data/constants";
const pageTitle: string = `Gimnasio de CrossFit en Quetzaltenango, Guatemala | ${SITE.title}`;
const schema = {
  "@context": "https://schema.org",
  "@type": "HealthClub",
  "@id": "https://crossfitxela.com",
  url: "https://crossfitxela.com",
  name: "CrossFit Xela",
  description:
    "Únete a CrossFit Xela, el único gimnasio afiliado a CrossFit en Quetzaltenango con coaches certificados y más de 8 años de experiencia. Disfruta de entrenamientos de alta intensidad para todos los niveles. ¡Comienza tu viaje fitness con nosotros hoy mismo!",
  image: "https://crossfitxela.com/icon.png",
  address: {
    "@type": "PostalAddress",
    streetAddress: "11 calle D 1-45 zona 8",
    addressLocality: "Quetzaltenango",
    addressRegion: "Quetzaltenango",
    postalCode: "09001",
    addressCountry: "GT",
  },
  geo: {
    "@type": "GeoCoordinates",
    latitude: "14.86361",
    longitude: "-91.52524",
  },
  telephone: "+502-7725-8352",
  openingHours: "Mo-Fr 05:00-20:30, Sa 07:30-12:30",
  sameAs: [
    "https://www.facebook.com/crossfitxela",
    "https://www.instagram.com/crossfitxela",
  ],
  priceRange: "$",
  contactPoint: {
    "@type": "ContactPoint",
    telephone: "+502-7725-8352",
    contactType: "Customer Service",
    areaServed: "GT",
    availableLanguage: [
      {
        "@type": "Language",
        name: "Spanish",
        alternateName: "es",
      },
      {
        "@type": "Language",
        name: "English",
        alternateName: "en",
      },
    ],
  },
  logo: {
    "@type": "ImageObject",
    url: "https://crossfitxela.com/icon.png",
    width: 500,
    height: 500,
  },
};
---

<MainLayout title={pageTitle} structuredData={schema}>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Bienvenido a <span
        class="text-red-600 dark:text-red-600">CrossFit Xela</span>`
    subTitle="Tu camino hacia una mejor versión de ti mismo comienza aquí. Somos el único gimnasio afiliado a CrossFit en Quetzaltenango, ofreciendo más de 8 años de experiencia en transformar vidas a través de entrenamiento funcional y comunidad."
    primaryBtn="¿Por qué elegirnos?"
    primaryBtnURL="#features"
    secondaryBtn="Agenda tu clase de prueba"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.5</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Familia haciendo ejercicio en CrossFit Xela"
  />

  <QuestionsSection
    title="SI RESPONDISTE QUE SÍ A ALGUNA DE ESTAS PREGUNTAS, ¡CROSSFIT XELA ES PARA TÍ!"
    primaryBtn="Agenda tu clase de prueba"
    primaryBtnURL="/contact"
  />

  <FeaturesGeneral
    title="Nuestra Comunidad es lo que nos Hace Especiales"
    subTitle="En CrossFit Xela, somos mucho más que un gimnasio. Nos esforzamos por crear un ambiente donde no solo te motives a entrenar, sino que también disfrutes de la compañía de tus compañeros de clase. Queremos que te entusiasme tanto venir que llegues 30 minutos antes para estirar, calentar y ponerte al día con tus amigos."
    src={featureImage}
    alt="Comunidad CrossFit Xela"
    features={features}
    id="features"
  />

  <FeaturesNavs
    title=`¿Cuáles son algunos <span class="text-yellow-500 dark:text-yellow-400">beneficios</span> de entrenar en CrossFit Xela?`
    tabs={[
      {
        heading: "Disminuye porcentaje de grasa y aumenta masa muscular",
        content:
          "CrossFit te permitirá reducir el porcentaje de grasa corporal, lo que te ayudará a bajar de peso. Te facilitará alcanzar tu peso ideal y debido a eso, tu figura será más esbelta y proporcional.",
        svg: "balance",
        src: pegboard,
        alt: "Atleta subiendo el pegboard durante un WOD de CrossFit",
        first: true,
      },
      {
        heading: "Mejora tu salud física y mental",
        content:
          "Aumenta tu resistencia, fuerza, equilibrio, coordinación, etc. Pero además, al ser un hábito saludable reforzará tu sistema inmunológico y estarás más protegido contra enfermedades leves, resfriados, por ejemplo. Además, ayuda contra el estrés y la ansiedad.",
        svg: "health",
        src: functional,
        alt: "Atletas haciendo box jumps durante un WOD de CrossFit",
        second: true,
      },
      {
        heading: "Fortalece la musculatura",
        content:
          "Gracias a su variedad de ejercicios, permite trabajar de forma integral los musculos de tu cuerpo. Evidentemente, este trabajo te hará más fuerte, y podrás levantar pesos más fácilmente. Pero no sólo serás más fuerte físicamente, como verás más adelante serás más fuerte mentalmente.",
        svg: "arm",
        src: frontsquat,
        alt: "Atleta haciendo front squat durante un WOD de CrossFit",
      },
    ]}
  />

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} /> -->

  <FAQ title="Preguntas<br />frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="¡Comienza hoy!"
    subTitle="¡No esperes más! Agenda tu clase de prueba y descubre por qué CrossFit Xela es el mejor lugar para entrenar en Quetzaltenango."
    url="/contact"
  />
</MainLayout>
